FlinkNifiDemoFlow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>FlinkNifiDemoFlow</name><snippet><processGroups><id>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</id><parentGroupId>d92ccd4e-3f9b-4e44-aafb-aec082eae5ee</parentGroupId><position><x>35.0</x><y>224.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>92dfaa7a-9937-4730-9f60-49cfb056d0b5</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>850e06ef-e446-4c83-b138-1e4ce7bc66f5</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Output A</selectedRelationships><source><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>f0c3f81e-0fc3-44cd-bcf9-d6650ec4f022</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>3e7571c0-e372-4656-bead-1e7dfaa61049</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>2675d749-a024-4340-98cb-ba9567ee6b4e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Output B</selectedRelationships><source><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>585d78e3-b3cf-4a5a-91c4-d01f8bcf18d8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>21651c8c-c0e4-4093-b3fb-afc9ee5b0675</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>585d78e3-b3cf-4a5a-91c4-d01f8bcf18d8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>eb8294da-53ff-4980-bede-3b116e0619ec</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>77a15757-9edd-4bbb-9c7c-80441b6fe131</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>5ba5555c-0dfc-47a2-a61d-b35b8ec2cf88</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Output B</selectedRelationships><source><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>f0c3f81e-0fc3-44cd-bcf9-d6650ec4f022</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>95da0085-a289-4d12-bd75-3bfbc4386092</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>f0c3f81e-0fc3-44cd-bcf9-d6650ec4f022</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>40e19fa8-16d4-43af-a3d5-087d8cdc58d6</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0094b5db-2ab1-41df-9f8d-f59ebc7d07d2</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>d424ce8c-1328-4c4d-811f-93e17576ec77</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Output A</selectedRelationships><source><groupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</groupId><id>585d78e3-b3cf-4a5a-91c4-d01f8bcf18d8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>eb8294da-53ff-4980-bede-3b116e0619ec</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>-43.0</x><y>313.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known NATS Brokers in the format nats://&lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>CESU-8</displayName><value>CESU-8</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1166</displayName><value>x-IBM1166</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the NATS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The NATS Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>Specifies the maximum number of messages to combine into a single FlowFile. These messages will be concatenated together with the &lt;Message Demarcator&gt; string placed between the content of each message. If the messages from NATS should not be concatenated together, leave this value at 1.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Demarcator</key><value><defaultValue>\n</defaultValue><description>Specifies the characters to use in order to demarcate multiple messages from NATS. If the &lt;Batch Size&gt; property is set to 1, this value is ignored. Otherwise, for each two subsequent messages in the batch, this value will be placed in between them.</description><displayName>Message Demarcator</displayName><dynamic>false</dynamic><name>Message Demarcator</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>nats://localhost:4222</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Topic Name</key><value>execs</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Message Demarcator</key><value></value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get Executions</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are created are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.mattring.nifi.nats.bundle.GetNats</type></processors><processors><id>585d78e3-b3cf-4a5a-91c4-d01f8bcf18d8</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>510.0</x><y>293.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script URI</key><value><description>Location of the script to be run</description><displayName>Script URI</displayName><dynamic>false</dynamic><name>Script URI</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script URI</key><value>file:///C:/var/demo_scripts/checkExecs.groovy</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Check Executions</name><relationships><autoTerminate>false</autoTerminate><description>Depends on the script, but usually analogous to success.</description><name>Output A</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Depends on the script, but usually analogous to failure.</description><name>Output B</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.mattring.nifi.scripting.ScriptedProcessor</type></processors><processors><id>850e06ef-e446-4c83-b138-1e4ce7bc66f5</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>1018.0</x><y>5.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known NATS Brokers in the format nats://&lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>CESU-8</displayName><value>CESU-8</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1166</displayName><value>x-IBM1166</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the NATS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The NATS Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate NATS message.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to NATS</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>nats://localhost:4222</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Topic Name</key><value>deadLetter</value></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key><value>1 MB</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fwd Orders</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be sent to NATS will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to NATS will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.mattring.nifi.nats.bundle.PutNats</type></processors><processors><id>f0c3f81e-0fc3-44cd-bcf9-d6650ec4f022</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>475.0</x><y>2.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script URI</key><value><description>Location of the script to be run</description><displayName>Script URI</displayName><dynamic>false</dynamic><name>Script URI</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script URI</key><value>file:///C:/var/demo_scripts/checkOrders.groovy</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Check Orders</name><relationships><autoTerminate>false</autoTerminate><description>Depends on the script, but usually analogous to success.</description><name>Output A</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Depends on the script, but usually analogous to failure.</description><name>Output B</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.mattring.nifi.scripting.ScriptedProcessor</type></processors><processors><id>40e19fa8-16d4-43af-a3d5-087d8cdc58d6</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>-43.0</x><y>82.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known NATS Brokers in the format nats://&lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>CESU-8</displayName><value>CESU-8</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1166</displayName><value>x-IBM1166</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the NATS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The NATS Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>Specifies the maximum number of messages to combine into a single FlowFile. These messages will be concatenated together with the &lt;Message Demarcator&gt; string placed between the content of each message. If the messages from NATS should not be concatenated together, leave this value at 1.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Demarcator</key><value><defaultValue>\n</defaultValue><description>Specifies the characters to use in order to demarcate multiple messages from NATS. If the &lt;Batch Size&gt; property is set to 1, this value is ignored. Otherwise, for each two subsequent messages in the batch, this value will be placed in between them.</description><displayName>Message Demarcator</displayName><dynamic>false</dynamic><name>Message Demarcator</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>nats://localhost:4222</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Topic Name</key><value>orders</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Message Demarcator</key><value></value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get Orders</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are created are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.mattring.nifi.nats.bundle.GetNats</type></processors><processors><id>2675d749-a024-4340-98cb-ba9567ee6b4e</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>958.0</x><y>524.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>C:/var/suspicious_executions</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Archive Execution</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>d424ce8c-1328-4c4d-811f-93e17576ec77</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>1048.0</x><y>360.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known NATS Brokers in the format nats://&lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>CESU-8</displayName><value>CESU-8</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1166</displayName><value>x-IBM1166</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the NATS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The NATS Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate NATS message.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to NATS</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>nats://localhost:4222</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Topic Name</key><value>deadLetter</value></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key><value>1 MB</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fwd Executions</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be sent to NATS will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to NATS will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.mattring.nifi.nats.bundle.PutNats</type></processors><processors><id>5ba5555c-0dfc-47a2-a61d-b35b8ec2cf88</id><parentGroupId>3420f408-68ae-4978-bf1c-f7b1fefe6b0a</parentGroupId><position><x>1016.0</x><y>176.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>C:/var/denied_orders</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Archive Order</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>TradingDemo</name><outputPortCount>0</outputPortCount><parent><id>d92ccd4e-3f9b-4e44-aafb-aec082eae5ee</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>8</stoppedCount></processGroups></snippet><timestamp>02/06/2016 13:45:29 CST</timestamp></template>